body.modal {
  height: 100vh;
  overflow-y: hidden;
}
.deposit_body {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  /* background-color: yellow; */
}
.deposit_body h2 {
  color: white;
  font-size: 40px;
}
.deposit_body_details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.deposit_body_details span,
.deposit_body_details label {
  font-size: 20px;
}
.deposit_body_details select {
  background-color: #111;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
}
.deposit_body_details_cont,
.deposit_body_details_cont1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.deposit_body_details input {
  background-color: #111;
  width: 100%;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
}
.deposit_body_details input:focus,
.deposit_body_details select:focus {
  border: 1px solid #fd961a;
  outline: none;
}
.deposit_submit {
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 30px;
  width: 30%;
  border-radius: 40px;
  background-color: #fd961a;
  border: 1px solid #fd961a;
  transition: background-color 0.7s;
  font-weight: 700;
  /* margin-bottom: 20px; */
}

.deposit_submit:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
footer {
  margin-top: 150px;
}
.amount_error span,
.crypto_error span,
.error_message {
  font-size: 16px;
  font-weight: 600;
  color: red;
  display: none;
}
.error_message {
  font-size: 16px !important;
}
.subscription_error_span {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: red !important;
  display: none;
  text-align: left !important;
}
.dynamic_amount_converter {
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 10px;
}
.dynamic_amount_converter__crypto,
.dynamic_amount_converter__amount,
.dynamic_amount_converter__statement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dynamic_amount_converter__crypto span,
.dynamic_amount_converter__amount span {
  font-size: 16px;
  font-weight: 600;
}
.dynamic_amount_converter__statement {
  font-size: 16px !important;
  font-weight: 600;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.95;
  height: 100vh;
  z-index: 100;
  transition: display 1s;
}
.modal.show {
  display: flex !important;
}
.deposit_modal {
  width: 50%;
  height: 50%;
  background-color: white;
  /* border: 1px solid #fd961a; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 500;
  padding: 12px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
.withdrawal_modal {
  height: 30%;
}
.subscription-modal {
  /* height: 62%; */
  height: fit-content;
  padding-bottom: 20px;
}
.subscription-modal label {
  color: black;
  text-align: start;
  width: 100%;
  margin-bottom: 0;
}
.subscription-modal input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
  padding-left: 10px;
}
.subscription-modal input:focus {
  outline: none;
  border: 1px solid #fd961a;
}
.subscriptionamount_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.deposit_modal h2 {
  color: black;
}
.withdrawal_modal h2 {
  text-wrap: nowrap;
}
.deposit_modal p {
  color: black;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin: 0;
}
.deposit_modal_address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.deposit_modal_address__wallet {
  color: green;
  font-size: 18px;
  font-weight: 600;
  white-space: wrap;
}
.confirm_button {
  width: 40%;
  background-color: #fd961a;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #fd961a;
  border-radius: 20px;
  transition: all 0.7s;
}
/* .confirm_button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
} */
.close_button {
  background-color: #ccc;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 50;
  top: -50px;
  right: -10px;
  cursor: pointer;
}
.fa-times {
  color: black;
}
@media (max-width: 38em) {
  .deposit_submit {
    width: 100%;
  }
  .deposit_modal {
    width: 90%;
    height: 50%;
  }
  .deposit_modal p {
    font-size: 16px;
    font-weight: 600;
  }
  .confirm_button {
    width: 100%;
  }
  .deposit_modal_address {
    gap: 10px;
  }
  .subscription-modal {
    /* height: 63%; */
    height: fit-content;
  }
}
