.table.order thead tr {
  background: #222;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid #222;
  font-size: 18px;
  font-weight: 600;
}
.table.order thead tr th {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: none;
}

.table.order tr td {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  border-top: none;
}
.delete_button {
  z-index: 100;
  cursor: pointer;
}
.transaction_header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  width: 100%;
}
.transaction-filter {
  /* margin-top: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  background: #f9f9f9; */
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}

.filter-form .form-group {
  flex: 1;
  min-width: 180px;
}
.form-control {
  padding: 10px 10px;
  border-radius: 5px;
}
@media (max-width: 63em) {
  .table-responsive {
    border: none;
    padding: 0;
  }
  .transaction_header_div {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .transaction-filter {
    width: 100%;
  }
}
@media (max-width: 38em) {
  .table.order thead tr {
    font-weight: 500;
    font-size: 16px;
  }
}
